* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
button {
  outline: none;
  border: none;
}

:root {
  font-size: 63.5%;
}

body {
  font: 400 1.6rem 'Ubuntu', sans-serif;

  background: #1e1e1f;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
